<div class="container">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs nav-justified card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Instructions</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="space">
                <br>
                {{#each data}}
                <h2>{{title}}</h2>
                <br>
                <h4 class="details">Ingredients</h4>
                <p>{{removeBracket ingredients}}</p>
                <br>
                <h4 class="details">Instructions</h4>
                <p>{{instructions}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<br />