<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs nav-justified card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Results</a>
                </li>
            </ul>
        </div>
        <div>
            <br><br>
            <h2 class="details">Dishes</h2>
            <br>
            <ul>
                {{#each data}}
                <div>
                    <p><a href='/api/{{title}}'>{{title}}</a></p>
                </div>
                {{/each}}
            </ul>
        </div>
        <br />
    </div>
</div>
<br />